ul.primary.navigation.actions a.dropdown-toggle[href="/menu/fandoms"],
ul.primary.navigation.actions a.dropdown-toggle[href="/menu/browse"],
ul.primary.navigation.actions a.dropdown-toggle[href="/menu/search"],
ul.primary.navigation.actions a.dropdown-toggle[href="/menu/about"] {
  visibility: hidden;
}

ul.primary.navigation.actions a.dropdown-toggle[href="/menu/fandoms"] {
  padding: 0.429em 1.423em 0.429em 0.75em !important;
}

ul.primary.navigation.actions a.dropdown-toggle[href="/menu/search"] {
  padding: 0.429em 0.736em !important;
}

ul.primary.navigation.actions a.dropdown-toggle[href="/menu/browse"] {
  padding: 0.429em 0.82em !important;
}

ul.primary.navigation.actions a.dropdown-toggle[href="/menu/about"] {
  padding: 0.429em 4.65em 0.429em 1.074em !important;
}

ul.primary.navigation.actions a.dropdown-toggle:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 1em;
  font-size: 1.1em;
  padding: 0.35em 0.682em 0.59em;
}

ul.primary.navigation.actions a.dropdown-toggle[href="/menu/fandoms"]:after {
  content: "Фандомы";
}

ul.primary.navigation.actions a.dropdown-toggle[href="/menu/browse"]:after {
  content: "Обзор";
}

ul.primary.navigation.actions a.dropdown-toggle[href="/menu/search"]:after {
  content: "Поиск";
}

ul.primary.navigation.actions a.dropdown-toggle[href="/menu/about"]:after {
  content: "Информация";
}

ul.primary.navigation.actions a.dropdown-toggle:hover:after,
ul.primary.navigation.actions a.dropdown-toggle:focus:after,
ul.primary.navigation.actions .open a.dropdown-toggle:after,
#header .dropdown:hover a:after {
  background: #ddd !important;
}
